body {
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

.auth form {
    max-width: 800px;
    margin-inline: auto;
    text-align: left;
}

.html {
    /* border: red solid 2px; */
    color: black;
    max-height: 2rem;
    overflow-y: hidden;

}

.link {
    cursor : pointer;

}

.link:hover {
    opacity: 0.8;
}

